@import "normalize";
/*fonts*/
@font-face {
  font-family: 'Proxima Nova Light';
  src: url('../../build/fonts/ProximaNovaLight.eot');
  src: url('../../build/fonts/ProximaNovaLight.eot?#iefix') format('embedded-opentype'),
  url('../../build/fonts/ProximaNovaLight.woff') format('woff'),
  url('../../build/fonts/ProximaNovaLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Medium';
  src: url('../../build/fonts/ProximaNovaMedium.eot');
  src: url('../../build/fonts/ProximaNovaMedium.eot?#iefix') format('embedded-opentype'),
  url('../../build/fonts/ProximaNovaMedium.woff') format('woff'),
  url('../../build/fonts/ProximaNovaMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Semobold';
  src: url('../../build/fonts/ProximaNovaSemibold.eot');
  src: url('../../build/fonts/ProximaNovaSemibold.eot?#iefix') format('embedded-opentype'),
  url('../../build/fonts/ProximaNovaSemibold.woff') format('woff'),
  url('../../build/fonts/ProximaNovaSemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('../../build/fonts/ProximaNovaBold.eot');
  src: url('../../build/fonts/ProximaNovaBold.eot?#iefix') format('embedded-opentype'),
  url('../../build/fonts/ProximaNovaBold.woff') format('woff'),
  url('../../build/fonts/ProximaNovaBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
/*//fonts*/

/*variables*/
$bold: 'Proxima Nova Bold', sans-sarif;/*font-weight: 700*/
$sBold: 'Proxima Nova Semobold', sans-sarif;/*font-weight: 600*/
$medium: 'Proxima Nova Medium', sans-sarif;/*font-weight: 500*/
$light: 'Proxima Nova Light', sans-sarif;/*font-weight: 300*/
/*//variables*/

html {
  overflow-x: hidden;
}

body {
  font-family: $light;
  color: #000000;
  position: relative;
  overflow-x: hidden;
}
p {
  margin-bottom: 0;
}
.bg {
  background: rgba(0,0,0,0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 99;
  display: none;
}


.btn_green {
  width: 220px;
  height: 55px;
  background-color: #2da34d;
  display: inline-block;
  a {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: $medium;
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s;
    &:hover {
      text-decoration: none;
      -webkit-box-shadow: 0px 1px 8px 2px rgba(45,163,77,0.84);
      -moz-box-shadow: 0px 1px 8px 2px rgba(45,163,77,0.84);
      box-shadow: 0px 1px 8px 2px rgba(45,163,77,0.84);
    }
  }
}

.main_title {
  color: #000000;
  font-family: $bold;
  font-size: 58px;
  line-height: 75px;
}

                      /*---------------Loader---------------*/

$loaderColor: #2da34d;
$bodyColor: #101213;

$animSpeed: 1s;
$loaderAnim: $animSpeed linear infinite;
$pseudoAnim: $animSpeed 0.2s ease infinite;

// Simplify animations with unique-id().
// Read more: http://advancedsass.com/articles/simplify-animation-keyframes-with-unique-id.html
@mixin anim {
  $name: unique-id();
  animation-name: $name;

  @keyframes #{$name} {
    @content;
  }
}
// Set transform values based on direction
@mixin jump($direction: right) {
  $t: null;
  $r: null;

  @if $direction == left {
    $t: -200%, -100%;
    $r: -180;
  }
  @else {
    $t: 200%, 100%;
    $r: 180;
  }

  65% {
    transform:
            translate($t)
            scale(0.2)
            rotate($r * 1deg);
    background-color: lighten($loaderColor, 20%);
  }
  70%, 100% {
    transform:
            translate(0, 0)
            scale(1)
            rotate($r + $r * 1deg);
    background-color: darken($loaderColor, 20%);
  }
}
@mixin spin($r) {
  20% {
    transform:
            rotate(-30deg)
            scale(1);
  }
  50% {
    transform:
            rotate($r * 1deg / 2)
            scale(4);
    background-color: lighten($loaderColor, 40%);
  }
  80% {
    transform:
            rotate($r * 1deg)
            scale(0.8);
  }
  90%, 100% {
    transform:
            rotate($r * 1deg)
            scale(1);
    background-color: $loaderColor;
  }
}
#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 100500;
}
.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: $loaderColor;
  margin-top: -6px;
  margin-left: -6px;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  animation: $loaderAnim;
  z-index: 999;
  @include anim {
    @include spin(720);
  }

  &:before, &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: darken($loaderColor, 20%);
    border-radius: 3px;
  }

  &:before {
    right: calc(100% + 2px);
    animation: $pseudoAnim;
    @include anim {
      @include jump(left);
    }
  }

  &:after {
    left: calc(100% + 2px);
    animation: $pseudoAnim;
    @include anim {
      @include jump(right);
    }
  }
}

                      /*---------------Loader---------------*/

                      /*---------------modal---------------*/
#modal {
  display: none;
  width: 991px;
  height: 500px;
  border-radius: 10px;
  border: 1px solid #979797;
  background-color: #ffffff;
  padding: 86px 133px;
  margin: 0;
  overflow: visible;
  text-align: center;
  .modal_title {
    color: #000000;
    font-family: $bold;
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 89px;
  }
  .modal_inputs {
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    input {
      width: 325px;
      height: 60px;
      border-radius: 2px;
      border: 1px solid rgba(188, 188, 188, 0.8);
      padding-left: 25px;
      color: #000000;
      font-family: $light;
      font-size: 18px;
      font-weight: 300;
      line-height: 25px;
    }
  }
  .modal_btn {
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: $medium;
    font-size: 20px;
    transition: 0.3s;
    outline: none;
    &:hover {
      cursor: pointer;
      text-decoration: none;
      -webkit-box-shadow: 0px 1px 8px 2px rgba(45,163,77,0.84);
      -moz-box-shadow: 0px 1px 8px 2px rgba(45,163,77,0.84);
      box-shadow: 0px 1px 8px 2px rgba(45,163,77,0.84);
    }
  }
}
.fancybox-close-small {
  width: auto;
  height: auto;
  &:focus {
    outline: none;
  }
}
.fancybox-close-small:after {
  color: black;
  background: white;
  width: 50px;
  height: 50px;
  top: -50px;
  right: -50px;
  font-size: 0;
  background: url("../../build/img/close.png") center center no-repeat;
}
.fancybox-close-small:hover:after {
  background: url("../../build/img/close.png") center center no-repeat;
  color: black;
}
.fancybox-close-small:focus:after {
  outline: none;
}
                      /*---------------modal---------------*/

/*header*/
.header {
  padding-top: 28px;
  padding-bottom: 28px;
  background: #ffffff;
  z-index: 99;
  position: relative;
  .logo {
    .logo_link {
      display: block;
      max-width: 178px;
      img {
        max-width: 100%;
      }
    }
  }
  .contact_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 43px;
    .contact_address {
      font-family: $sBold;
      font-size: 19px;
      line-height: 25px;
      color: #000000;
      margin-left: -25px;
    }
    .contact_phone {
      .contact_phone_link {
        font-family: $sBold;
        font-size: 19px;
        line-height: 25px;
        color: #000000;
        display: flex;
        &:hover {
          text-decoration: none;
        }
        .contact_ico {
          margin-right: 9px;
        }
      }
    }
  }
  .menu {
    ul {
      list-style-type: none;
      padding-left: 0;
      display: flex;
      align-items: center;
      margin-bottom: 0;
      height: 43px;
      li {
        margin-right: 65px;
        a {
          font-family: $sBold;
          font-size: 15px;
          color: #000000;
          transition: all 0.45s;
          position: relative;
          padding: 5px 0;
          display: inline-block;
          overflow: hidden;
          &:before, &:after {
            left: 0;
            width: 100%;
            height: 2px;
            background: darken(#2da34d, 0);
          }
          &:before {
            bottom: 0;
            transform:  translateX(-100%);
          }
          &:after {
            top: 0;
            transform:  translateX(100%);
          }
          &:hover:before, &:hover:after {
            transform:  translateX(0);
          }
          &:before, &:after {
            content: '';
            position: absolute;
            transition: transform .5s ease;
          }
          &:hover {
            text-decoration: none;
            color: #2da34d;
          }
        }
      }
    }
  }
  .menu_btn {
    font-family: $sBold;
    color: #000000;
    font-size: 15px;
    line-height: 25px;
    display: none;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
    }
    .menu_ico {
      margin-left: 11px;
      height: 25px;
      width: 20px;
      background: url("../../build/img/menuIco.png") no-repeat center center;
    }
  }
  .menu_btn.active {
    background-color: #f0f0f0;
    .menu_ico {
      background: url("../../build/img/menuIcoActive.png") no-repeat center center;
    }
  }
  .menu_active {
    display: none;
    width: 100%;
    background: #ffffff;
    z-index: 99;
    border-top: 1px solid #f0f0f0;
    ul {
      list-style-type: none;
      padding-left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0;
      height: 151px;
      li {
        a {
          font-family: $sBold;
          font-size: 15px;
          color: #000000;
          transition: 0.3s;
          &:hover {
            text-decoration: none;
            color: #2da34d;
          }
        }
      }
    }
    .contact_details {
      display: none;
      justify-content: space-between;
      align-items: center;
      height: 43px;
      .contact_address {
        font-family: $sBold;
        font-size: 13px;
        line-height: 25px;
        color: #000000;
        display: flex;
        .contact_ico {
          margin-right: 9px;
        }
        p {
          border-bottom: 2px solid #2da34d;
        }
      }
      .contact_phone {
        .contact_phone_link {
          font-family: $sBold;
          font-size: 13px;
          line-height: 25px;
          color: #000000;
          display: flex;
          &:hover {
            text-decoration: none;
          }
          .contact_ico {
            margin-right: 9px;
          }
          p {
            border-bottom: 2px solid #2da34d;
          }
        }
      }
    }
  }
}
/*//header*/

/*slider*/
.slider {
  .slider_item {
    overflow: hidden;
    .slider_content {
      padding-top: 195px;
      padding-bottom: 147px;
      display: flex;
      position: relative;
      .slider_info {
        .slider_item_title {
          color: #000000;
          font-family: $bold;
          font-size: 95px;
          line-height: 100px;
          margin-top: 0;
          margin-bottom: 66px;
        }
        .slider_item_conditions {
          display: flex;
          margin-bottom: 86px;
          .item_conditions {
            margin-right: 100px;
            color: #000000;
            font-family: $light;
            font-size: 20px;
            font-weight: 300;
            line-height: 25px;
            p {
              span {
                border-bottom: 2px solid #2da34d;
              }
            }
          }

        }
      }
      .slider_img {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 670px;
        img {
          max-width: 100%;
        }
      }
    }

  }
  .slider_item_one {
    background-color: #cde1e9;
  }
  .slick-prev {
    position: absolute;
    bottom: 55px;
    left: 40%;
    font-size: 0;
    border: none;
    background: url("../../build/img/arrowPrev.png") no-repeat center center;
    width: 17px;
    height: 41px;
    z-index: 98;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
    &:focus {
      outline: none;
    }
  }
  .slick-next {
    position: absolute;
    bottom: 55px;
    right: 40%;
    font-size: 0;
    border: none;
    background: url("../../build/img/arrowNext.png") no-repeat center center;
    width: 17px;
    height: 41px;
    z-index: 98;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
    &:focus {
      outline: none;
    }
  }
  .slick-dots {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
    position: absolute;
    bottom: 49px;
    margin-bottom: 0;
    left: 50%;
    margin-left: -88.5px;
    li {
      button {
        background: url("../../build/img/dots.png") no-repeat center center;
        background-size: contain;
        border: none;
        width: 51px;
        height: 51px;
        padding: 0;
        color: #00000057;
        font-family: $medium;
        font-size: 16px;
        &:hover {
          background: url("../../build/img/dotsActive.png") no-repeat center center;
          background-size: contain;
          cursor: pointer;
          color: #000000;
        }
        &:focus {
          outline: none;
        }
      }
    }
    li.slick-active {
      button {
        background: url("../../build/img/dotsActive.png") no-repeat center center;
        background-size: contain;
        color: #000000;
      }
    }
    li:nth-child(2) {
      margin-left: 12px;
      margin-right: 12px;
    }
  }
}
/*//slider*/

/*loans*/
.loans {
  padding-top: 169px;
  overflow: hidden;
  .loans_info {
    .loans_title {
      margin-bottom: 27px;
    }
    .loans_advantage {
      list-style-type: none;
      padding-left: 0;
      color: #000000;
      font-family: $light;
      font-size: 20px;
      line-height: 35px;
      li {
        position: relative;
        padding-left: 32px;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          background: url("../../build/img/check.png") no-repeat center center;
          width: 14px;
          height: 10px;
          top: 50%;
          margin-top: -5px;
        }
      }
    }
  }
  .loans_img {
    img {
      max-width: 100%;
    }
  }
  .loans_video {
    width: 1254px;
    height: 660px;
    margin: 140px auto 0 auto;
    .start-video {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -38px;
      margin-left: -38px;
      cursor: pointer;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      &:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
    .thumbnail_container {
      overflow: hidden;
      margin: auto;
      position: relative;
      width: 1254px;
      height: 660px;
      .thumbnail {
        max-width: 100%;
      }
    }
  }
}

/*//loans*/

/*saving*/
.saving {
  padding-top: 459px;
  background: rgba(237, 233, 218, 0.91);
  margin-top: -310px;
  .saving_info {
    display: flex;
    .saving_info_left {
      margin-right: 219px;
      .saving_title {
        margin-bottom: 28px;
      }
      .saving_advantage {
        color: #000000;
        font-family: $light;
        font-size: 18px;
        line-height: 30px;
        position: relative;
        padding-left: 32px;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          background: url(../../build/img/check.png) no-repeat center center;
          width: 14px;
          height: 10px;
          top: 10px;
        }
      }
    }
    .saving_info_right {
      .saving_subTitle {
        color: #000000;
        font-family: $sBold;
        font-size: 35px;
        line-height: 50px;
        margin-bottom: 59px;
        margin-top: 20px;
      }
      .saving_advantage {
        color: #000000;
        font-family: $light;
        font-size: 18px;
        line-height: 30px;
        position: relative;
        padding-left: 32px;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          background: url(../../build/img/check.png) no-repeat center center;
          width: 14px;
          height: 10px;
          top: 10px;
        }
      }
    }
    .saving_info_smallWindow {
      display: none;
      color: #000000;
      font-family: $light;
      font-size: 14px;
      line-height: 25px;
    }
  }
  .saving_calculator {
    position: relative;
    bottom: -24px;
    display: flex;
    align-items: flex-end;
    .saving_wrapper {
      display: flex;
      align-items: center;
      box-shadow: 0px 15px 20px 5px #edebeb;
      border-radius: 15px;
      background-color: #fdfdfd;
      padding: 80px 80px 94px 61px;
      margin-right: 30px;
      height: 275px;
      .inputs {
        display: flex;
        align-items: center;
        .attachment {
          max-width: 330px;
          margin-right: 50px;
          p {
            color: #000000;
            font-family: $bold;
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 14px;
          }
          input {
            width: 330px;
            height: 60px;
            border-radius: 2px;
            border: 1px solid rgba(188, 188, 188, 0.80);
            border-bottom: none;
            color: #000000;
            font-family: $light;
            font-size: 18px;
            line-height: 25px;
            padding-left: 12px;
          }
          .ui-slider {
            background: rgba(188, 188, 188, 0.8);
            border: none;
            height: 1px;
            .ui-slider-range {
              background: #2da34d;
              height: 2px;
            }
            .ui-slider-handle {
              width: 21px;
              height: 21px;
              box-shadow: 1px 3px 6px #b2e9c1;
              border: 3px solid #2da34d;
              border-radius: 50px;
              background: #eaf5ed;
              top: -10.5px;
              &:focus {
                outline: none;
              }
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
      .percent {
        .percent_number {
          color: #000000;
          font-family: $bold;
          font-size: 16px;
          line-height: 25px;
        }
        .percent_warning {
          opacity: 0.6;
          color: #000000;
          font-family: $light;
          font-size: 14px;
          font-weight: 300;
          line-height: 20px;
        }
      }
    }
    .info {
      position: relative;
      .info_wrapper {
        box-shadow: 0px 15px 20px 5px #edebeb;
        border-radius: 15px;
        background-color: #fdfdfd;
        width: 369px;
        height: 350px;
        text-align: center;
        padding-top: 30px;
        position: relative;
        z-index: 9;
        .income {
          font-family: $bold;
          color: #000000;
          .income_title {
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 16px;
          }
          .income_sum {
            font-size: 60px;
            line-height: 50px;
            margin-bottom: 25px;
          }
          .income_number {
            color: #27a147;
            font-size: 45px;
            line-height: 36px;
            margin-bottom: 25px;
          }
        }
      }
      .info_castle {
        position: absolute;
        top: -58%;
        left: 50%;
        margin-left: -124px;
      }

    }

  }
}
/*//saving*/

/*buyout*/
.buyout {
  padding-top: 164px;
  .buyout_info {
    .buyout_title {
      margin-bottom: 27px;
    }
    .buyout_advantage {
      list-style-type: none;
      padding-left: 0;
      color: #000000;
      font-family: $light;
      font-size: 20px;
      line-height: 35px;
      li {
        position: relative;
        padding-left: 32px;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          background: url("../../build/img/check.png") no-repeat center center;
          width: 14px;
          height: 10px;
          top: 50%;
          margin-top: -5px;
        }
      }
    }
  }
  .buyout_img {
    margin-top: -60px;
    img {
      max-width: 100%;
    }
  }
}
/*//buyout*/

/*guarantees*/
.guarantees {
  padding-top: 139px;
  padding-bottom: 98px;
  .guarantees_title {
    margin-bottom: 25px;
  }

    .guarantees_list {
      .guarantees_items {
        list-style-type: none;
        padding-left: 0;
        color: #000000;
        font-family: $light;
        font-size: 20px;
        line-height: 35px;
        li {
          position: relative;
          padding-left: 32px;
          &:before {
            content: '';
            position: absolute;
            left: 0;
            background: url("../../build/img/check.png") no-repeat center center;
            width: 14px;
            height: 10px;
            top: 50%;
            margin-top: -5px;
          }
        }
      }
    }
    .guarantees_info {
      display: flex;
      height: 100%;
      align-items: flex-end;
      justify-content: flex-end;
      .guarantees_img {
        margin-right: 74px;
        img {
          max-width: 100%;
        }
      }
      .guarantees_text {
        max-width: 457px;
        color: #000000;
        font-family: $light;
        font-size: 16px;
        font-weight: 300;
        line-height: 25px;
      }
    }
}
/*//guarantees*/

/*evidence*/
.evidence {
  background-color: #1c1c1c;
  padding-top: 53px;
  padding-bottom: 64px;
  .evidence_wrapper {
    display: flex;
    .evidence_item:last-child {
      margin-right: 0;
    }
    .evidence_item {
      margin-right: 86px;

      .evidence_img {
        width: 385px;
        height: 269px;
        border-radius: 10px;
        border: 22px solid #ffffff;
        margin-bottom: 14px;
        a {
          width: 100%;
          height: 100%;
          display: block;
          img {
            max-width: 100%;
          }
        }
      }
      .evidence_name {
        color: #ffffff;
        font-family: $sBold;
        font-size: 16px;
        line-height: 25px;
        padding-left: 18px;
      }
    }
  }
}
/*//evidence*/

/*footer*/
.footer {
  padding-top: 41px;
  padding-bottom: 41px;
  .footer_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .footer_logo {
      margin-right: 87px;
      a {
        display: block;
        height: 100%;
        width: 100%;
      }
    }
    .footer_menu {
      .menu {
        ul {
          list-style-type: none;
          padding-left: 0;
          display: flex;
          align-items: center;
          margin-bottom: 0;
          flex-wrap: wrap;
          li {
            margin-right: 50px;
            a {
              font-family: $sBold;
              font-size: 15px;
              color: #000000;
              transition: all 0.45s;
              position: relative;
              padding: 5px 0;
              display: inline-block;
              overflow: hidden;
              &:before, &:after {
                left: 0;
                width: 100%;
                height: 2px;
                background: darken(#2da34d, 0);
              }
              &:before {
                bottom: 0;
                transform:  translateX(-100%);
              }
              &:after {
                top: 0;
                transform:  translateX(100%);
              }
              &:hover:before, &:hover:after {
                transform:  translateX(0);
              }
              &:before, &:after {
                content: '';
                position: absolute;
                transition: transform .5s ease;
              }
              &:hover {
                text-decoration: none;
                color: #2da34d;
              }
            }
          }
        }
      }
    }
    .footer_social {
      margin-right: 42px;
    }
    .footer_contact_details {
      .contact_details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .contact_address {
          font-family: $sBold;
          font-size: 19px;
          line-height: 25px;
          color: #000000;
          margin-right: 29px;
        }
        .contact_phone {
          .contact_phone_link {
            font-family: $sBold;
            font-size: 19px;
            line-height: 25px;
            color: #000000;
            display: flex;
            &:hover {
              text-decoration: none;
            }
            .contact_ico {
              margin-right: 9px;
            }
          }
        }
      }
    }
    .footer_policy {
      color: #000000;
      font-family: $light;
      font-size: 14px;
      line-height: 20px;
      position: absolute;
      top: 50px;
      right: 0;
    }
  }
}
/*//footer*/


