
@media screen and (min-width: 1440px){
  .container {
    max-width: 1440px;
  }
}

@media screen and (min-width: 1600px){
  .container {
    max-width: 1524px;
  }
}

@media screen and (max-width: 1439px){
  .header .menu ul li {
    margin-right: 30px;
  }
  .header .contact_details .contact_address,
  .header .contact_details .contact_phone .contact_phone_link {
    font-size: 15px;
  }
  .loans .loans_video,
  .loans .loans_video .thumbnail_container {
    height: 582px;
    width: 100%;
  }
  .saving .saving_calculator .saving_wrapper .inputs {
    flex-direction: column;
  }
  .saving .saving_calculator .saving_wrapper .inputs .attachment:first-child {
    margin-bottom: 52px;
  }
  .saving .saving_calculator .saving_wrapper .inputs .attachment {
    margin-right: 84px;
  }
  .saving .saving_calculator .saving_wrapper {
    padding: 25px 71px 48px 51px;
    margin-right: 48px;
  }
  .saving .saving_calculator .saving_wrapper .inputs .attachment p {
    margin-bottom: 8px;
    font-size: 16px;
  }
  .saving .saving_calculator .saving_wrapper .inputs .attachment input {
    width: 262px;
    height: 42px;
    font-size: 16px;
  }
  .saving .saving_info .saving_info_left .saving_title {
    font-size: 39px;
    line-height: 50px;
  }
  .saving .saving_info .saving_info_left .saving_advantage,
  .saving .saving_info .saving_info_right .saving_advantage {
    font-size: 16px;
    line-height: 25px;
  }
  .saving .saving_info .saving_info_left {
    margin-right: 115px;
  }
  .saving .saving_info .saving_info_right .saving_subTitle {
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 44px;
    margin-top: 10px;
  }
  .saving .saving_calculator .info .info_castle {
    top: -63%;
  }
  .saving .saving_calculator .info .info_wrapper {
    height: 275px;
  }
  .saving .saving_calculator .info .info_wrapper .income .income_title {
    font-size: 16px;
    margin-bottom: 0px;
  }
  .saving .saving_calculator .info .info_wrapper .income .income_sum {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .saving .saving_calculator .info .info_wrapper .income .income_number {
    font-size: 30px;
  }
  .saving .saving_calculator .info .info_wrapper .info_btn {
    height: 45px;
  }
  .saving .saving_calculator .info .info_wrapper .info_btn a {
    font-size: 16px;
  }
  .saving .saving_info .saving_info_left .saving_advantage br,
  .saving .saving_info .saving_info_right .saving_advantage br {
    display: none;
  }
  .saving .saving_info .saving_info_left .saving_advantage {
    max-width: 275px;
  }
  .saving .saving_info .saving_info_right .saving_advantage {
    max-width: 325px;
  }
  .footer .footer_wrapper .footer_logo {
    margin-right: 136px;
  }
  .footer .footer_wrapper .footer_menu .menu ul li {
    margin-bottom: 27px;
  }
  .footer .footer_wrapper {
    align-items: flex-start;
  }
  .footer .footer_wrapper .footer_menu .menu ul li a {
    font-size: 13px;
  }
  .footer .footer_wrapper .footer_contact_details .contact_details .contact_address {
    font-size: 15px;
  }
  .footer .footer_wrapper .footer_contact_details .contact_details .contact_phone .contact_phone_link {
    font-size: 15px;
  }
  .footer .footer_wrapper .footer_menu .menu ul {
    width: 300px;
  }
  .footer {
    padding-bottom: 14px;
  }
}

@media screen and (max-width: 1280px){
  .header {
    padding-top: 23px;
    padding-bottom: 23px;
    height: 75px;
  }
  .header .menu_btn {
    display: inline-flex;
    float: right;
    padding: 25px;
    margin-top: -23px;
  }
  .header .menu {
    display: none;
  }
  .header .contact_details {
    height: 29px;
  }
  .header .contact_details .contact_phone .contact_phone_link .contact_ico {
    width: 12px;
    height: 12px;
  }
  .header .contact_details .contact_phone .contact_phone_link .contact_ico img {
    max-width: 100%;
  }
  .slider .slider_item .slider_content {
    padding-top: 131px;
    padding-bottom: 102px;
  }
  .slider .slider_item .slider_content .slider_info .slider_item_title {
    font-size: 63px;
    line-height: 65px;
    margin-bottom: 43px;
  }
  .slider .slider_item .slider_content .slider_info .slider_item_conditions .item_conditions {
    font-size: 16px;
  }
  .slider .slider_item .slider_content .slider_info .slider_item_conditions {
    margin-bottom: 60px;
  }
  .slider .slick-prev,
  .slider .slick-next {
    bottom: 33px;
  }
  .slider .slick-dots {
    bottom: 29px;
  }
  .btn_green a {
    font-size: 16px;
  }
  .btn_green {
    width: 174px;
    height: 45px;
  }
  .slider .slider_item .slider_content .slider_img {
    width: 560px;
  }
  .main_title {
    font-size: 39px;
    line-height: 50px;
  }
  .loans {
    padding-top: 161px;
  }
  .loans .loans_info .loans_advantage,
  .buyout .buyout_info .buyout_advantage li {
    font-size: 16px;
    line-height: 30px;
  }
  .loans .loans_img, .buyout .buyout_img {
    max-width: 476px;
  }
  .saving {
    padding-top: 390px;
  }

}

@media screen and (max-width: 1200px){
  .header .contact_details .contact_address {
    margin-left: -8px;
  }
  .header .logo .logo_link {
    max-width: 126px;
  }
  .slider .slick-next {
    right: 37%;
  }
  .slider .slick-prev {
    left: 37%;
  }
  .slider .slider_item .slider_content .slider_img {
    right: -15%;
  }
  .loans .loans_video {
     height: 523px;
  }
  .loans .loans_video {
    margin: 102px auto 0 auto;
  }
  .saving .saving_info .saving_info_left {
    margin-right: 55px;
  }
  .saving .saving_calculator .saving_wrapper .inputs .attachment {
    margin-right: 50px;
  }
  .saving .saving_calculator .info .info_wrapper {
    width: 310px;
  }
  .saving .saving_calculator .saving_wrapper {
    padding: 25px 20px 48px 51px;
  }
  .loans .loans_video, .loans .loans_video .thumbnail_container {
    height: 490px;
  }
  .guarantees .guarantees_info .guarantees_img {
    margin-right: 48px;
  }
  .guarantees .guarantees_info {
    align-items: center;
  }
  .guarantees .guarantees_info .guarantees_text {
    font-size: 14px;
  }
  .guarantees .guarantees_list .guarantees_items {
    font-size: 16px;
  }
  .evidence .evidence_wrapper .evidence_item .evidence_img {
    width: 260px;
    height: 181px;
  }
  .evidence .evidence_wrapper .evidence_item .evidence_name {
    max-width: 260px;
  }
  .footer .footer_wrapper .footer_logo {
    margin-right: 70px;
  }
  #modal {
    width: 839px;
    height: 400px;
  }
  #modal .modal_inputs input,
  #modal .modal_btn {
    width: 216px;
    height: 42px;
  }
  #modal .modal_title {
    margin-bottom: 42px;
    font-size: 23px;
    line-height: 35px;
  }
}

@media screen and (max-width: 991px){
  .header .contact_details .contact_address {
    margin-left: -18px;
  }
  .slider .slick-next {
    right: 33%;
  }
  .slider .slick-prev {
    left: 33%;
  }
  .slider .slider_item .slider_content .slider_img {
    right: -35%;
    width: 505px;
  }
  .loans .loans_img, .buyout .buyout_img {
    margin-right: -140px;
  }
  .loans .loans_video,
  .loans .loans_video .thumbnail_container {
    height: 364px;
  }
  .saving .saving_calculator .saving_wrapper {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    padding: 51px 40px 50px 40px;
    margin-right: 25px;
  }
  .saving .saving_calculator .saving_wrapper .inputs .attachment {
    margin-right: 0;
  }
  .saving .saving_calculator .saving_wrapper .inputs .attachment:first-child {
    margin-bottom: 49px;
  }
  .saving .saving_calculator .saving_wrapper .inputs {
    margin-bottom: 50px;
  }
  .saving .saving_calculator {
    margin-top: 117px;
  }
  .saving .saving_calculator .info .info_castle {
    top: -76%;
  }
  .guarantees .guarantees_info {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .guarantees .guarantees_info .guarantees_img {
    max-width: 223px;
    margin-bottom: 10px;
  }
  .evidence .evidence_wrapper {
    justify-content: space-between;
  }
  .footer .footer_wrapper .footer_policy {
    left: 0;
    display: inline-block;
    max-width: 180px;
    bottom: 0;
    top: 55%;
  }
  .footer .footer_wrapper .footer_contact_details .contact_details {
    flex-direction: column-reverse;
  }
  .footer .footer_wrapper .footer_contact_details .contact_details .contact_address {
    margin-right: 0;
  }
  .footer .footer_wrapper .footer_social {
    margin-right: 0;
    position: absolute;
    right: 0;
    bottom: 30px;
  }
  .footer .footer_wrapper .footer_contact_details .contact_details .contact_phone .contact_phone_link {
    margin-bottom: 13px;
  }
  #modal {
    width: 717px;
    height: 400px;
  }
  .fancybox-close-small:after {
    top: -60px;
    right: 50%;
    margin-right: -25px;
  }
  .fancybox-close-small {
    width: 100%;
  }
}

@media screen and (max-width: 767px){
  .header .contact_details {
    display: none;
  }
  .header .menu_active ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .header .menu_btn.active {
    background: transparent;
  }
  .header .menu_active ul li {
    padding-bottom: 46px;
  }
  .header .menu_active ul {
    height: auto;
    padding-top: 55px;
  }
  .header .menu_active {
    padding-bottom: 50px;
  }
  .header .menu_active .contact_details .contact_address {
    margin-left: 0;
    margin-right: 27px;
  }
  .header .menu_active .contact_details {
    display: flex;
    justify-content: flex-start;
  }
  .header .menu_active.open {
    padding-bottom: 93px;
  }
  .slider .slick-next {
    right: 27%;
  }
  .slider .slick-prev {
    left: 27%;
  }
  .slider .slider_item .slider_content .slider_info .slider_item_conditions .item_conditions {
    margin-right: 70px;
  }
  .slider .slider_item .slider_content .slider_info .slider_item_conditions .item_conditions:last-child {
    margin-right: 0;
  }
  .slider .slider_item .slider_content .slider_img {
    right: -33%;
    width: 406px;
    bottom: -68px;
  }
  .loans .loans_img {
    margin-right: -140px;
  }
  .main_title {
    font-size: 39px;
    line-height: 50px;
  }
  .loans .loans_info .loans_title, .buyout .buyout_info .buyout_title, .guarantees .guarantees_title {
    font-size: 26px;
    line-height: 36px;
  }
  .loans .loans_video, .loans .loans_video .thumbnail_container {
    height: 268px;
  }
  .loans .loans_video {
    margin: 50px auto 0 auto;
  }
  .saving {
    margin-top: -170px;
    padding-top: 240px;
  }
  .saving .saving_calculator {
    flex-direction: column;
  }
  .saving .saving_info .saving_info_left .saving_title {
    font-size: 26px;
    line-height: 35px;
  }
  .saving .saving_info .saving_info_left .saving_title span {
    background: transparent!important;
    color: black!important;
  }
  .saving .saving_info .saving_info_right .saving_subTitle {
    font-size: 18px;
    line-height: 25px;
    margin-top: 3px;
  }
  .saving .saving_info .saving_info_left .saving_advantage,
  .saving .saving_info .saving_info_right .saving_advantage {
    display: none;
  }
  .saving .saving_calculator {
    margin-top: 0;
  }
  .saving .saving_calculator {
    align-items: center;
  }
  .saving .saving_calculator .saving_wrapper {
    margin-right: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 51px 40px 0 40px;
  }
  .saving .saving_calculator .info .info_wrapper {
    border-radius: 0;
    text-align: left;
    padding: 0 40px 0 40px;
  }
  .saving .saving_calculator .info .info_castle,
  .saving .saving_calculator .saving_wrapper .percent {
    display: none;
  }
  .saving .saving_calculator .saving_wrapper,
  .saving .saving_calculator .info .info_wrapper,
  .saving .saving_calculator .info {
    width: 100%;
  }
  .saving .saving_calculator .saving_wrapper .inputs,
  .saving .saving_calculator .saving_wrapper .inputs .attachment:first-child {
    margin-bottom: 30px;
  }
  .saving .saving_info .saving_info_smallWindow {
    display: block;
  }
  .saving .saving_info {
    flex-wrap: wrap;
  }
  .guarantees {
    padding-bottom: 25px;
  }
  .evidence .evidence_wrapper {
    justify-content: center;
    flex-wrap: wrap;
  }
  .evidence .evidence_wrapper .evidence_item {
    margin-right: 10px;
    margin-left: 10px;
  }
  .footer .footer_wrapper {
    flex-wrap: wrap;
  }
  .footer .footer_wrapper .footer_logo {
    margin-right: 0;
  }
  .footer .footer_wrapper .footer_policy {
    top: 40%;
  }
  .footer .footer_wrapper .footer_contact_details .contact_details {
    flex-direction: row-reverse;
  }
  .footer .footer_wrapper .footer_contact_details .contact_details .contact_phone .contact_phone_link {
    margin-bottom: 0;
    margin-right: 29px;
  }

  .footer .footer_wrapper .footer_menu .menu ul li {
    margin-bottom: 15px;
  }
  .footer .footer_wrapper .footer_social {
    bottom: 0;
  }
  #modal {
    width: 90%;
    padding: 50px 34px;
    height: auto;
  }
  #modal .modal_inputs {
    flex-direction: column;
    margin-bottom: 0;
  }
  #modal .modal_inputs input, #modal .modal_btn {
    margin: 0 auto 20px;
    font-size: 14px;
  }
  #modal .modal_title {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 576px){
  .slider .slick-next {
    right: 24%;
  }
  .slider .slick-prev {
    left: 24%;
  }
  .slider .slider_item .slider_content {
    flex-direction: column;
    padding-bottom: 0;
  }
  .slider .slider_item .slider_content .slider_img {
    position: relative;
    right: 0;
    left: 50%;
    bottom: 0;
    margin-left: -203px;
  }
  .loans {
    padding-top: 114px;
  }
  .loans .loans_img, .buyout .buyout_img {
    margin: auto;
  }
  .loans .loans_video, .loans .loans_video .thumbnail_container {
    height: 237px;
    width: 450px;
  }
  .saving .saving_calculator {
    margin-left: -20px;
    width: 120%;
  }
  .saving .saving_info .saving_info_left {
    margin-right: 10px;
  }

  .buyout .buyout_img {
    margin-top: 0;
  }
  .guarantees {
    padding-top: 103px;
  }
  .footer .footer_wrapper .footer_menu .menu ul {
    width: 255px;
  }
  .fancybox-close-small {
    width: 50px;
    height: 50px;
    left: 50%;
    top: 105%;
    margin-left: -25px;
  }
  .fancybox-close-small:after {
    top: 0;
  }
}

@media screen and (max-width: 479px){
  .slider .slick-next {
    right: 24%;
  }
  .slider .slick-prev {
    left: 24%;
  }
  .slider .slider_item .slider_content{
    padding-top: 62px;
  }
  .slider .slider_item .slider_content .slider_info .slider_item_title {
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 0;
  }
  .slider .slider_item .slider_content .slider_info .slider_item_conditions .item_conditions {
    margin-top: 35px;
    margin-right: 40px;
  }
  .slider .slider_item .slider_content .slider_info .slider_item_conditions {
    flex-wrap: wrap;
  }
  .slider .slider_item .slider_content .slider_img {
    position: relative;
    right: 0;
    left: 50%;
    bottom: 0;
    margin-left: -140px;
    width: 280px;
    top: 20px;
  }
  .slider .slider_item .slider_content .slider_info .slider_item_btn {
    width: 100%;
  }
  .loans .loans_video, .loans .loans_video .thumbnail_container {
    width: 287px;
    height: 147px;
  }
  .footer .footer_wrapper .footer_menu .menu ul {
    width: 100%;
    margin-top: 26px;
  }
  .footer .footer_wrapper .footer_policy {
    top: 110%;
  }
  .footer .footer_wrapper .footer_contact_details .contact_details {
    margin-top: 34px;
  }
  .footer .footer_wrapper .footer_contact_details .contact_details .contact_phone .contact_phone_link {
    font-size: 14px;
  }
  .footer .footer_wrapper .footer_social {
    bottom: -55px;
  }
  .footer {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 320px){
  .saving .saving_calculator .info .info_wrapper .info_btn {
    width: 100%;
  }
}